n8n/01-new-lead-welcome.json
{
  "name": "Gepromed · New-lead welcome + deposit request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gepromed-new-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Supabase · new lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "gepromed-new-lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aablleekwyjqdxsscyeo.supabase.co/rest/v1/rpc/log_email_once",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_lead\": \"{{ $json.body.record.id }}\",\n  \"p_template\": \"welcome\",\n  \"p_to\": \"{{ $json.body.record.email }}\",\n  \"p_daily\": false\n}",
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Idempotency gate (log_email_once)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-send",
              "leftValue": "={{ $json.send }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "First send only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Supabase · new lead').item.json.body.record.email }}",
        "subject": "=Gepromed, réservez votre place : {{ $('Supabase · new lead').item.json.body.record.training_title_snapshot }}",
        "emailType": "html",
        "message": "=<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f6f7f9;padding:24px 0;font-family:Arial,Helvetica,sans-serif;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border:1px solid #eceef2;border-radius:12px;overflow:hidden;\"><tr><td style=\"background:#1a4fb8;padding:20px 28px;\"><span style=\"color:#ffffff;font-size:20px;font-weight:bold;\">Gepromed</span><span style=\"color:#bcdcff;font-size:12px;\">&nbsp;&nbsp;Formation chirurgicale</span></td></tr><tr><td style=\"padding:28px;color:#1f2430;font-size:15px;line-height:1.6;\"><p style=\"margin:0 0 12px;\">Bonjour {{ $('Supabase · new lead').item.json.body.record.first_name }},</p><p style=\"margin:0 0 16px;\">Merci pour votre demande d'inscription à <b>{{ $('Supabase · new lead').item.json.body.record.training_title_snapshot }}</b>. Votre référence est <b>{{ $('Supabase · new lead').item.json.body.record.ref }}</b>.</p><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#eef6ff;border:1px solid #d9ecff;border-radius:10px;margin:8px 0 18px;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:13px;color:#1a4fb8;font-weight:bold;\">Acompte pour réserver votre place</div><div style=\"font-size:28px;font-weight:bold;color:#0f172a;margin:4px 0;\">{{ $('Supabase · new lead').item.json.body.record.deposit_eur }} EUR</div><div style=\"font-size:13px;color:#66728a;\">Montant entièrement remboursable, restitué à la fin de la formation.</div></td></tr></table><p style=\"margin:0 0 8px;font-weight:bold;\">Prochaines étapes</p><ol style=\"margin:0 0 16px;padding-left:20px;color:#42495c;\"><li>Notre équipe vous contacte pour organiser le règlement de l'acompte.</li><li>Vous recevez le contrat d'engagement à signer.</li><li>Votre place est confirmée et vos accès à la plateforme vous sont envoyés.</li></ol><p style=\"margin:0;color:#66728a;font-size:13px;\">Une question ? Contactez notre équipe aux coordonnées ci-dessous.</p><hr style=\"border:none;border-top:1px solid #eceef2;margin:22px 0;\"><p style=\"margin:0;color:#66728a;font-size:13px;\"><b style=\"color:#42495c;\">English:</b> We received your registration for {{ $('Supabase · new lead').item.json.body.record.training_title_snapshot }} (ref {{ $('Supabase · new lead').item.json.body.record.ref }}). A fully refundable deposit of {{ $('Supabase · new lead').item.json.body.record.deposit_eur }} EUR reserves your seat. Our team will contact you to arrange payment and send the engagement contract to sign.</p></td></tr><tr><td style=\"background:#f6f7f9;border-top:1px solid #eceef2;padding:18px 28px;color:#66728a;font-size:12px;line-height:1.6;\"><b style=\"color:#42495c;\">Gepromed</b>, Institut de formation chirurgicale<br>2 rue Marie Hamm, 67000 Strasbourg, France<br>Téléphone : +33 3 88 00 00 00 &nbsp;&middot;&nbsp; Email : formation@gepromed.com</td></tr></table></td></tr></table>",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Send deposit-request email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, -100],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CRED", "name": "Gmail account" }
      },
      "notes": "Update the telephone number in the footer to the real Gepromed number. If you use SMTP, swap this for a 'Send Email' node."
    }
  ],
  "connections": {
    "Supabase · new lead": {
      "main": [[{ "node": "Idempotency gate (log_email_once)", "type": "main", "index": 0 }]]
    },
    "Idempotency gate (log_email_once)": {
      "main": [[{ "node": "First send only?", "type": "main", "index": 0 }]]
    },
    "First send only?": {
      "main": [[{ "node": "Send deposit-request email", "type": "main", "index": 0 }], []]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
