n8n/02-daily-reminder-sweep.json
{
  "name": "Gepromed · Daily reminder sweep",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "7 9 * * *" }] }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Every day 09:07",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Set the workflow timezone to Europe/Paris in Workflow Settings."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://aablleekwyjqdxsscyeo.supabase.co/rest/v1/leads_due_reminders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "select", "value": "*" }] },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Get leads due reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" }
      },
      "notes": "Returns one item per lead. The view already honors the hard-stop."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aablleekwyjqdxsscyeo.supabase.co/rest/v1/rpc/log_email_once",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_lead\": \"{{ $json.id }}\",\n  \"p_template\": \"reminder\",\n  \"p_to\": \"{{ $json.email }}\",\n  \"p_daily\": true\n}",
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "One reminder per day (log_email_once)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-send",
              "leftValue": "={{ $json.send }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Not sent yet today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get leads due reminders').item.json.email }}",
        "subject": "=Gepromed, rappel : {{ $('Get leads due reminders').item.json.session_fr }}",
        "emailType": "html",
        "message": "=<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f6f7f9;padding:24px 0;font-family:Arial,Helvetica,sans-serif;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border:1px solid #eceef2;border-radius:12px;overflow:hidden;\"><tr><td style=\"background:#1a4fb8;padding:20px 28px;\"><span style=\"color:#ffffff;font-size:20px;font-weight:bold;\">Gepromed</span><span style=\"color:#bcdcff;font-size:12px;\">&nbsp;&nbsp;Formation chirurgicale</span></td></tr><tr><td style=\"padding:28px;color:#1f2430;font-size:15px;line-height:1.6;\"><p style=\"margin:0 0 12px;\">Bonjour {{ $('Get leads due reminders').item.json.first_name }},</p><p style=\"margin:0 0 16px;\">Petit rappel concernant votre inscription à <b>{{ $('Get leads due reminders').item.json.session_fr }}</b> (référence {{ $('Get leads due reminders').item.json.ref }}).</p><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff7ed;border:1px solid #fed7aa;border-radius:10px;margin:8px 0 18px;\"><tr><td style=\"padding:16px 18px;color:#9a3412;font-size:14px;\">{{ $('Get leads due reminders').item.json.stage === 'lead' ? 'Il reste à régler un acompte remboursable de ' + $('Get leads due reminders').item.json.deposit_eur + ' EUR pour confirmer votre place. Les places sont limitées.' : ($('Get leads due reminders').item.json.stage === 'deposit_paid' ? 'Merci de signer et de nous retourner votre contrat pour finaliser votre inscription.' : 'Nous vérifions votre document signé pour confirmer votre place.') }}</td></tr></table><p style=\"margin:0;color:#66728a;font-size:13px;\">Pour toute question, contactez notre équipe aux coordonnées ci-dessous.</p><hr style=\"border:none;border-top:1px solid #eceef2;margin:22px 0;\"><p style=\"margin:0;color:#66728a;font-size:13px;\"><b style=\"color:#42495c;\">Reminder:</b> your Gepromed registration is still in progress. Reply to this email with any question.</p></td></tr><tr><td style=\"background:#f6f7f9;border-top:1px solid #eceef2;padding:18px 28px;color:#66728a;font-size:12px;line-height:1.6;\"><b style=\"color:#42495c;\">Gepromed</b>, Institut de formation chirurgicale<br>2 rue Marie Hamm, 67000 Strasbourg, France<br>Téléphone : +33 3 88 00 00 00 &nbsp;&middot;&nbsp; Email : formation@gepromed.com</td></tr></table></td></tr></table>",
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Send reminder email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, -100],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CRED", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Every day 09:07": {
      "main": [[{ "node": "Get leads due reminders", "type": "main", "index": 0 }]]
    },
    "Get leads due reminders": {
      "main": [[{ "node": "One reminder per day (log_email_once)", "type": "main", "index": 0 }]]
    },
    "One reminder per day (log_email_once)": {
      "main": [[{ "node": "Not sent yet today?", "type": "main", "index": 0 }]]
    },
    "Not sent yet today?": {
      "main": [[{ "node": "Send reminder email", "type": "main", "index": 0 }], []]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Paris" },
  "pinData": {}
}
