n8n/10-trainee-reminder-sweep.json
{
  "name": "Gepromed · Trainee reminder sweep",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "7 9 * * *" }] }
      },
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Every day 09:07",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Timezone Europe/Paris is set in Workflow Settings."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hdvqiiprylrrzrkydtpa.supabase.co/rest/v1/trainee_due_reminders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "select", "value": "*" }] },
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Get due reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" } },
      "notes": "The view applies the SOP cadence + hard-stops. One item per due (lead, template)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hdvqiiprylrrzrkydtpa.supabase.co/rest/v1/rpc/notify_reminder",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_lead\": \"{{ $json.lead_id }}\",\n  \"p_template_key\": \"{{ $json.template_key }}\"\n}",
        "options": {}
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Build email (idempotent+render)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" } },
      "notes": "One call: once-per-day idempotency + render. Returns {send,to,subject,body,sender} or {send:false}."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c-send", "leftValue": "={{ $json.send }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Should send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": { "senderName": "Gepromed" }
      },
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Send email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, -40],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CRED", "name": "Gmail account" } },
      "notes": "$json.sender = hms@ or education@gepromed.com. For two senders, duplicate this node with a second Gmail credential and route by {{ $json.sender }}."
    }
  ],
  "connections": {
    "Every day 09:07": { "main": [[{ "node": "Get due reminders", "type": "main", "index": 0 }]] },
    "Get due reminders": { "main": [[{ "node": "Build email (idempotent+render)", "type": "main", "index": 0 }]] },
    "Build email (idempotent+render)": { "main": [[{ "node": "Should send?", "type": "main", "index": 0 }]] },
    "Should send?": { "main": [[{ "node": "Send email", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Paris" },
  "pinData": {}
}
