n8n/11-trainee-stage-router.json
{
  "name": "Gepromed · Trainee stage-change router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gepromed-lead-stage",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1111111-1111-4111-8111-111111111111",
      "name": "Supabase lead updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "gepromed-lead-stage",
      "notes": "Supabase Database Webhook on table `leads`, events INSERT + UPDATE, pointing at this Production URL."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hdvqiiprylrrzrkydtpa.supabase.co/rest/v1/rpc/notify_for_stage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_lead\": \"{{ $json.body.record.id }}\"\n}",
        "options": {}
      },
      "id": "c2222222-2222-4222-8222-222222222222",
      "name": "Build email (lookup+render)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_WITH_SUPABASE_CRED", "name": "Supabase apikey" } },
      "notes": "One call: finds the stage template, checks idempotency, renders. Returns {send,to,subject,body,sender} or {send:false}."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c-send", "leftValue": "={{ $json.send }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Should send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body_html }}",
        "options": { "senderName": "Gepromed" }
      },
      "id": "c4444444-4444-4444-8444-444444444444",
      "name": "Send email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, -40],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CRED", "name": "Gmail account" } },
      "notes": "$json.sender = hms@ or education@gepromed.com. For two senders, duplicate this node with a second Gmail credential and route by {{ $json.sender }}."
    }
  ],
  "connections": {
    "Supabase lead updated": { "main": [[{ "node": "Build email (lookup+render)", "type": "main", "index": 0 }]] },
    "Build email (lookup+render)": { "main": [[{ "node": "Should send?", "type": "main", "index": 0 }]] },
    "Should send?": { "main": [[{ "node": "Send email", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Paris" },
  "pinData": {}
}
